<mat-toolbar color="primary">
  <button><mat-icon>arrow_back</mat-icon></button> <span class="spacer"></span>
  <button mat-button (click)="editing = false" *ngIf="editing">Done</button>
  <button mat-button (click)="editing = true" *ngIf="!editing">
    Edit Profile
  </button>
</mat-toolbar>

<ng-container *ngIf="user">
  <div [hidden]="editing">
    <div class="photoURL">
      view mode
      <input
        type="file"
        accept="image/*"
        name="file"
        id="file"
        class="uploadPhoto"
        (change)="uploadPhotoURl($event)"
      />
      <label for="file">Change Photo</label>
    </div>
    <div class="hero-text">
      <h1>{{ user.displayName }}</h1>
      <p>{{ user.email }}</p>
    </div>
  </div>
  <div [hidden]="!editing">
    editing mode
    <mat-card>
      <mat-form-field>
        <input
          matInput
          placeholder="Update your name"
          [(ngModel)]="user.displayName"
          type="text"
        />
        <mat-icon matSuffix (click)="updateProfile()">Save</mat-icon>
        <mat-hint align="end">Save</mat-hint>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-form-field>
        <input
          matInput
          placeholder="Update your email"
          [(ngModel)]="user.email"
          type="text"
        />
        <mat-icon matSuffix (click)="updateEmail()">Save</mat-icon>
        <mat-hint align="end">Save</mat-hint>
      </mat-form-field>
    </mat-card>
  </div>
</ng-container>
